---
import Layout from '../layouts/Layout.astro'
---

<Layout>
    <h1 class="text-gradient">404 - Page Not Found</h1>
<p>The page you requested wasn't found.</p>


<a href="/">&larr; Go back</a>
</Layout>

<style>
  .mono {
    font-family: monospace;
    color: black;
    background-color: beige;
    border-style: solid;
    border-color: beige;
    border-radius: 5px;
  }
  .userInput {
    background-color: lightgray;
    border-style: solid;
    border-radius: 0.5rem;
    color: black;
    padding: 1rem;
  }
</style>