---
import Layout from '../layouts/Layout.astro'
---

<Layout title="400 Error">
    <h1 class="text-gradient">400 - Bad Request</h1>
<p>Invalid Zotero URI input received, please check again.</p>
<p>
  Note: Cranberry <strong>only supports</strong> URIs using the Zotero protocol <span class='mono'
    >zotero://</span
  >.</p>

<a href="/">&larr; Go back</a>
</Layout>

<style>
  .mono {
    font-family: monospace;
    color: black;
    background-color: beige;
    border-style: solid;
    border-color: beige;
    border-radius: 5px;
  }
  .userInput {
    background-color: lightgray;
    border-style: solid;
    border-radius: 0.5rem;
    color: black;
    padding: 1rem;
  }
</style>